In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('amazon_data_science_books.csv')
data.head()

,book_name,author(s),publisher,language,#pages,best_seller_rank,customer_reviews,total_ratings,url,paperback_price($)
0,Designing Data-Intensive Applications: The Big...,Martin Kleppmann,O'Reilly Media,NaN,611,2598,['4.8'],"['3,865']",https://www.amazon.com/Designing-Data-Intensiv...,32.86
1,Ace the Data Science Interview: 201 Real Inter...,"Kevin Huo,Nick Singh",Ace the Data Science Interview,NaN,301,6795,['4.5'],['818'],https://www.amazon.com/Ace-Data-Science-Interv...,36.35
2,Fundamentals of Data Engineering: Plan and Bui...,"Joe Reis,Matt Housley",O'Reilly Media,NaN,446,10052,['4.7'],['251'],https://www.amazon.com/Fundamentals-Data-Engin...,43.99
3,Python for Data Analysis: Data Wrangling with ...,Wes McKinney,O'Reilly Media,NaN,579,11945,['4.5'],['134'],https://www.amazon.com/Python-Data-Analysis-Wr...,38.10
4,Practical Statistics for Data Scientists: 50+ ...,Peter Gedeck,O'Reilly Media,NaN,360,19402,['4.6'],['710'],https://www.amazon.com/Practical-Statistics-Da...,38.49

In [ ]:
data.shape

(1350, 10)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   book_name           1350 non-null   object
 1   author(s)           1324 non-null   object
 2   publisher           1350 non-null   object
 3   language            0 non-null      float64
 4   #pages              1350 non-null   object
 5   best_seller_rank    1350 non-null   object
 6   customer_reviews    1350 non-null   object
 7   total_ratings       1350 non-null   object
 8   url                 1350 non-null   object
 9   paperback_price($)  1350 non-null   object
dtypes: float64(1), object(9)
memory usage: 105.6+ KB

# Preprocessig

In [ ]:
# for i in range(data.shape[0]):
#     data.loc[i, 'customer_reviews'] = data[i, 'customer_reviews'].replace("['", '')

data['customer_reviews'] = data['customer_reviews'].str.replace('[', "").str.replace("'", "").str.replace("]", "").astype(float)
data['total_ratings'] = data['total_ratings'].str.replace('[', "").str.replace("'", "").str.replace(",", "").str.replace("]", "").astype(int)

<ipython-input-53-c132c85298d0>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['customer_reviews'] = data['customer_reviews'].str.replace('[', "").str.replace("'", "").str.replace("]", "").astype(float)
<ipython-input-53-c132c85298d0>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['total_ratings'] = data['total_ratings'].str.replace('[', "").str.replace("'", "").str.replace(",", "").str.replace("]", "").astype(int)

In [ ]:
data[['customer_reviews', 'total_ratings']]

      customer_reviews  total_ratings
0                  4.8           3865
1                  4.5            818
2                  4.7            251
3                  4.5            134
4                  4.6            710
...                ...            ...
1345               5.0              0
1346               3.7             22
1347               4.6             36
1348               4.0             13
1349               4.0            229

[1350 rows x 2 columns]

In [ ]:
data['paperback_price($)'].unique()

array(['32.86', '36.35', '43.99', '38.10', '38.49', '30.82', '35.68',
       '52.24', '26.06', '24.49', '38.26', '40.49', '13.69', '33.24',
       '33.20', '17.29', '52.18', '53.99', '11.07', '9.69', '43.25',
       '51.99', '58.38', '57.99', '56.99', '14.80', '19.49', '48.52',
       '43.12', '25.49', '78.38', '23.45', '46.99', '59.99', '37.99',
       '58.99', '16.90', '49.49', '26.62', '24.99', '29.95', '69.99',
       '85.32', '23.99', '12.69', '42.99', '29.72', '35.99', '49.99',
       '42.00', '39.49', '41.99', '59.50', '39.89', '44.99', '39.99',
       '54.95', '42.49', '39.95', '31.49', '49.39', '25.85', '17.42',
       '29.30', '40.99', '29.99', '69.94', '48.99', '23.58', '47.99',
       '22.72', '23.04', '11.99', '35.69', '40.86', '28.34', '47.49',
       '38.99', '36.99', '49.00', '58.75', '67.15', '19.89', '39.33',
       '9.99', '289.95', '79.99', '40.75', '36.49', '35.49', '52.99',
       '9.39', '32.49', '33.79', '50.35', '64.95', '20.69', '41.49',
       '31.99', '44.49', '72.00', '38.93', '18.89', '16.99', '48.45',
       '34.99', '4.99', '36.67', '14.99', '38.40', '34.51', '32.99',
       '34.67', '52.00', '53.00', '33.76', '36.69', '45.99', '40.00',
       '7.99', '41.05', '45.38', '41.83', '32.23', '30.00', '67.99',
       '50.00', '28.13', '54.99', '82.63', '55.99', '38.94', '49.37',
       '31.95', '55.00', '58.84', '27.99', '74.95', '11.95', '25.99',
       '30.99', '61.34', '51.60', '48.75', '37.59', '84.35', '49.85',
       '40.71', '24.90', '69.95', '15.95', '35.00', '52.13', '54.80',
       '39.86', '3806.19', '22.19', '49.94', '66.15', '59.95', '69.58',
       '12.80', '37.21', '36.81', '48.49', '19.99', '28.15', '28.98',
       '12.49', '46.05', '14.95', '32.76', '82.00', '54.75', '31.11',
       '35.17', '11.63', '30.58', '21.99', '28.80', '31.64', '37.50',
       '30.91', '2.80', '49.95', '54.67', '28.99', '48.89', '47.60',
       '38.33', '159.99', '46.50', '210.49', '14.98', '32.14', '94.95',
       '39.00', '30.64', '28.61', '62.20', '53.32', '19.98', '76.57',
       '10.00', '75.95', '52.66', '39.13', '51.55', '11.97', '48.84',
       '69.61', '19.29', '25.00', '54.20', '21.50', '58.45', '101.32',
       '60.72', '54.08', '55.10', '107.49', '30.71', '37.40', '89.99',
       '29.98', '54.72', '59.00', '31.50', '22.99', '20.46', '34.63',
       '23.67', '13.31', '64.99', '39.93', '38.24', '41.09', '26.86',
       '38.95', '111.15', '42.16', '48.13', '12.95', '27.12', '34.00',
       '89.83', '40.58', '51.00', '68.95', '49.05', '34.98', '22.95',
       '39.94', '20.00', '41.53', '7.65', '66.44', '24.04', '32.00',
       '55.49', '6.99', '61.24', '62.99', '22.60', '79.95', '38.06',
       '78.86', '34.49', '42.85', '57.75', '15.66', '19.48', '225.00',
       '60.99', '24.36', '26.99', '33.77', '65.17', '42.36', '17.95',
       '56.81', '24.50', '23.59', '16.97', '12.99', '33.29', '38.82',
       '91.49', '37.56', '26.39', '62.72', '17.99', '50.39', '41.46',
       '62.69', '15.89', '219.99', '43.96', '3.66', '56.95', '56.59',
       '18.99', '118.95', '19.95', '24.68', '40.39', '31.59', '58.14',
       '8.40', '61.08', '63.95', '17.38', '22.83', '37.35', '11.79',
       '29.80', '28.95', '65.81', '43.76', '27.57', '14.77', '24.95',
       '36.84', '53.13', '62.80', '43.00', '18.95', '23.95', '9.55',
       '20.96', '15.00', '35.95', '51.02', '13.65', '19.08', '40.98',
       '85.72', '34.25', '47.43', '165.00', '42.91', '62.26', '15.99',
       '46.36', '50.34', '14.36', '125.00', '23.94', '88.00', '118.80',
       '18.10', '21.97', '67.00', '47.04', '104.99', '44.95', '13.99',
       '9.54', '109.99', '52.95', '26.80', '59.83', '17.49', '41.55',
       '52.05', '51.45', '95.00', '32.16', '10.68', '37.48', '37.94',
       '41.98', '70.64', '52.49', '5.99', '8.66', '70.00', '39.66',
       '55.01', '186.02', '41.40', '16.38', '14.67', '44.59', '33.69',
       '34.95', '34.56', '30.39', '60.49', '33.45', '30.84', '19.96',
       '33.16', '34.97', '51.89', '45.77', '26.47', '34.21', '45.46',
       '69.47', '51.69', '17.13', '37.54', '50.53', '17.44', '19.71',
       '34.10', '41.60', '100.63', '10.40', '27.86', '13.16', '83.49',
       '48.16', '29.71', '200.00', '20.97', '13.12', '36.00', '7.50',
       '55.85', '19.81', '99.89', '97.65', '12.38', '25.10', '13.00',
       '22.54', '23.62', '61.18', '24.53', '29.90', '25.44', '60.00',
       '41.00', '19.58', '15.98', '42.89', '166.07', '39.19', '34.15',
       '39.35', '32.95', '179.99', '16.68', '38.30', '99.00', '35.07',
       '57.16', '1.71', '63.93', '67.80', '62.40', '38.14', '36.98',
       '78.35', '33.31', '20.99', '13.45', '110.49', '71.95', '120.99',
       '51.97', '9.47', '27.95', '65.99', '43.90', '14.76', '41.12',
       '14.50', '36.01', '67.95', '150.00', '58.82', '35.19', '20.15',
       '30.97', '120.03', '145.00', '12.01', '31.20', '34.33', '30.47',
       '10.20', '37.01', '90.99', '10.54', '85.95', '99.95', '132.49',
       '37.45', '10.99', '—', '49.45', '13.34', '23.16', '16.77', '31.00',
       '4.98', '125.95', '17.80', '61.89', '24.74', '57.11', '9.98',
       '45.00', '25.95'], dtype=object)

In [ ]:
data.loc[ data.loc[:, 'paperback_price($)'] == '—', 'paperback_price($)'] = '0.0'

In [ ]:
data.loc[:, 'paperback_price($)'] = data.loc[:, 'paperback_price($)'].astype(float)

<ipython-input-57-344a48395614>:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, 'paperback_price($)'] = data.loc[:, 'paperback_price($)'].astype(float)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   book_name           1350 non-null   object
 1   author(s)           1324 non-null   object
 2   publisher           1350 non-null   object
 3   language            0 non-null      float64
 4   #pages              1350 non-null   object
 5   best_seller_rank    1350 non-null   object
 6   customer_reviews    1350 non-null   float64
 7   total_ratings       1350 non-null   int64
 8   url                 1350 non-null   object
 9   paperback_price($)  1350 non-null   float64
dtypes: float64(3), int64(1), object(6)
memory usage: 105.6+ KB

In [ ]:
data.loc[data.loc[:, 'best_seller_rank'] == 'Null', 'best_seller_rank'] = '0'
data.loc[data.loc[:, '#pages'] == 'Null', '#pages'] = '0'

In [ ]:
data.loc[:, ['#pages', 'best_seller_rank']] = data.loc[:, ['#pages', 'best_seller_rank']].astype(int)

<ipython-input-60-f8e2fc78ac6c>:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data.loc[:, ['#pages', 'best_seller_rank']] = data.loc[:, ['#pages', 'best_seller_rank']].astype(int)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   book_name           1350 non-null   object
 1   author(s)           1324 non-null   object
 2   publisher           1350 non-null   object
 3   language            0 non-null      float64
 4   #pages              1350 non-null   int64
 5   best_seller_rank    1350 non-null   int64
 6   customer_reviews    1350 non-null   float64
 7   total_ratings       1350 non-null   int64
 8   url                 1350 non-null   object
 9   paperback_price($)  1350 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 105.6+ KB

In [ ]:
data.drop('language', axis=1, inplace=True)

In [ ]:
data.head()

,book_name,author(s),publisher,#pages,best_seller_rank,customer_reviews,total_ratings,url,paperback_price($)
0,Designing Data-Intensive Applications: The Big...,Martin Kleppmann,O'Reilly Media,611,2598,4.8,3865,https://www.amazon.com/Designing-Data-Intensiv...,32.86
1,Ace the Data Science Interview: 201 Real Inter...,"Kevin Huo,Nick Singh",Ace the Data Science Interview,301,6795,4.5,818,https://www.amazon.com/Ace-Data-Science-Interv...,36.35
2,Fundamentals of Data Engineering: Plan and Bui...,"Joe Reis,Matt Housley",O'Reilly Media,446,10052,4.7,251,https://www.amazon.com/Fundamentals-Data-Engin...,43.99
3,Python for Data Analysis: Data Wrangling with ...,Wes McKinney,O'Reilly Media,579,11945,4.5,134,https://www.amazon.com/Python-Data-Analysis-Wr...,38.10
4,Practical Statistics for Data Scientists: 50+ ...,Peter Gedeck,O'Reilly Media,360,19402,4.6,710,https://www.amazon.com/Practical-Statistics-Da...,38.49

In [ ]:
data.isna().sum()

book_name              0
author(s)             26
publisher              0
#pages                 0
best_seller_rank       0
customer_reviews       0
total_ratings          0
url                    0
paperback_price($)     0
dtype: int64

In [ ]:
# data.loc[ data.loc[:, 'author(s)'].isna()]

In [ ]:
data.dropna(axis=0, inplace=True)

In [ ]:
data.isna().sum()

book_name             0
author(s)             0
publisher             0
#pages                0
best_seller_rank      0
customer_reviews      0
total_ratings         0
url                   0
paperback_price($)    0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1324 entries, 0 to 1349
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   book_name           1324 non-null   object
 1   author(s)           1324 non-null   object
 2   publisher           1324 non-null   object
 3   #pages              1324 non-null   int64
 4   best_seller_rank    1324 non-null   int64
 5   customer_reviews    1324 non-null   float64
 6   total_ratings       1324 non-null   int64
 7   url                 1324 non-null   object
 8   paperback_price($)  1324 non-null   float64
dtypes: float64(2), int64(3), object(4)
memory usage: 103.4+ KB

In [ ]:
data.to_csv('amazon_data_science_books_processed.csv', index=False)

In [ ]:
!ls

amazon_data_science_books.csv  amazon_data_science_books_processed.csv

In [ ]:
data = pd.read_csv('amazon_data_science_books_processed.csv')

In [ ]:
data.head()

,book_name,author(s),publisher,#pages,best_seller_rank,customer_reviews,total_ratings,url,paperback_price($)
0,Designing Data-Intensive Applications: The Big...,Martin Kleppmann,O'Reilly Media,611,2598,4.8,3865,https://www.amazon.com/Designing-Data-Intensiv...,32.86
1,Ace the Data Science Interview: 201 Real Inter...,"Kevin Huo,Nick Singh",Ace the Data Science Interview,301,6795,4.5,818,https://www.amazon.com/Ace-Data-Science-Interv...,36.35
2,Fundamentals of Data Engineering: Plan and Bui...,"Joe Reis,Matt Housley",O'Reilly Media,446,10052,4.7,251,https://www.amazon.com/Fundamentals-Data-Engin...,43.99
3,Python for Data Analysis: Data Wrangling with ...,Wes McKinney,O'Reilly Media,579,11945,4.5,134,https://www.amazon.com/Python-Data-Analysis-Wr...,38.10
4,Practical Statistics for Data Scientists: 50+ ...,Peter Gedeck,O'Reilly Media,360,19402,4.6,710,https://www.amazon.com/Practical-Statistics-Da...,38.49

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1324 entries, 0 to 1323
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   book_name           1324 non-null   object
 1   author(s)           1324 non-null   object
 2   publisher           1324 non-null   object
 3   #pages              1324 non-null   int64
 4   best_seller_rank    1324 non-null   int64
 5   customer_reviews    1324 non-null   float64
 6   total_ratings       1324 non-null   int64
 7   url                 1324 non-null   object
 8   paperback_price($)  1324 non-null   float64
dtypes: float64(2), int64(3), object(4)
memory usage: 93.2+ KB

In [ ]:
data['paperback_price($)'].max()

3806.19